main
test
tests/output/*.o
tests/output/*.run
tests/output/*.s
tests/output/*.dSYM
tests/output/*/*.o
tests/output/*/*.run
tests/output/*/*.s
tests/output/*/*.dSYM
*.sw*
*~
*.log
**/_build/*
**/.DS_Store